/* stylesheet for message list on home page and categorized message page */
.section {
    padding: 0 10px 5px 10px;
    margin: 10px 0;
    border: 2px solid rgba(221, 221, 221, 0.7);
    background-color: #f8f9fa;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.12);
}

.section .section-title {
    font-size: 32px;
    /*display: inline-block;*/
    color: #6c757d;
    background: #f8f9fa;
    border-width: 0;
    font-weight: 600;
    /*margin-top: 20px;*/
    cursor: pointer;
}

.msg-list {
    /*border: 2px solid #cccccc;*/
    border-top: 1px solid #cccccc;
    background-color: #f8f9fa;
    margin: 0 10px 5px 10px;
    min-height: 160px;
}

.msg-list .avatar {
    margin: 15px 0;
    width: 64px;
    height: 64px;
}

.msg-list .detail .title {
    margin: 10px 0;
}

.msg-list .detail .title .headline {
    font-size: 20px;
    margin: 10px 0;
    color: orange;
    font-weight: 600;
}

.msg-list .detail .info {
    font-size: 14px;
    margin-bottom: 10px;
    color: #71777d;
}

.msg-list .detail .intro {
    font-size: 16px;
    line-height: 25px;
    color: #292b2d;
}

.page-num {
    margin: 20px;
}