<!-- for Jinja2 inclusion -->
<!-- footer -->
<footer class="footer text-muted">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-1">
                <a href="https://github.com/Mahay316/Python-Assignment/tree/master/Homework/Homework11" target="_blank">Github</a>
            </div>
            <div class="col-1"><a href="/about">About</a></div>
            <div class="col-1"><a href="#">Documentation</a></div>
        </div>
        <p>Bulletin Board System designed by Mahay for Python practicum.</p>
        <p>A web application based on Flask.</p>
    </div>
</footer>