<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/favicon.png" rel="SHORTCUT ICON">
    <title>BBS注册</title>

    <!-- Bootstrap JQuery依赖 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>

    <!-- MD5依赖 -->
    <script src="/static/js/md5.js"></script>

    <link rel="stylesheet" href="/static/css/navigator.css"/>
    <link rel="stylesheet" href="/static/css/popovers.css"/>
    <script src="/static/js/userAuth.js"></script>
    <style>
        .title-line {
            border-bottom: 1px solid #dddddd;
            height: 28px;
            margin: 25px 100px;
            text-align: center;
        }

        .title-line .text {
            padding: 0 10px;
            background-color: #ffffff;
            line-height: 56px;
            font-size: 38px;
        }

        .register {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
        }
    </style>
</head>
<body>
<!-- navigator -->
<div class="menu bg-light shadow">
    <div class="container" style="padding: 0;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 16px">
            <a class="navbar-brand brand" href="/">BBS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">查询</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">热议</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            更多
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="https://github.com/Mahay316/Python-Assignment/issues/new"
                               target="_blank">反馈</a>
                            <a class="dropdown-item" target="_blank"
                               href="https://github.com/Mahay316/Python-Assignment/tree/master/Homework/Homework11">访问Github</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">关于</a>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-outline-dark" onclick="doRegister();">注册</button>
            </div>
        </nav>
    </div>
</div>

<!-- for redirection -->
<p class="sr-only" id="from">{{from_url}}</p>

<div class="title-line">
    <span class="text">登录</span>
</div>

<div class="container" style="width: 500px; padding-bottom: 40px;">
    <form>
        <div class="form-group">
            <label for="inputAccount">用户名</label>
            <input type="text" class="form-control" id="inputAccount" placeholder="用户名或电子邮件">
        </div>
        <div class="form-group">
            <label for="inputPassword">密码</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="请输入密码">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="remember">
            <label class="form-check-label" for="remember">记住我</label>
            <a href="#" style="float: right; padding-right: 10px">忘记密码?</a>
        </div>
        <button id="loginBtn" class="btn btn-primary col-12 register">登录</button>
    </form>
</div>

{% include 'footer.html' %}
</body>
</html>