<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/favicon.png" rel="SHORTCUT ICON">
    <title>个人中心</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

    <!-- Bootstrap JQuery依赖 -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>

    <link rel="stylesheet" href="/static/css/navigator.css"/>
    <link rel="stylesheet" href="/static/css/popovers.css"/>
    <script src="/static/js/userAuth.js"></script>
    <style>
        .info-box {
            margin-top: 20px;
            margin-bottom: 15px;
            padding: 15px;
            border: 2px solid rgba(221, 221, 221, 0.7);
            background-color: #f8f9fa;
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.12);
        }

        .info-box .avatar {
            width: 128px;
            height: 128px;
            border: 1px solid #dedede;
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.12);
            margin-bottom: 10px;
        }

        .change-btn {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            const saveBtn = $('#saveNickname');
            const nickname = $('#infoNickname');

            // initialize popover
            nickname.popover({
                content: '昵称不能为空',
                placement: 'top',
                trigger: 'manual',
            });
            nickname.focus(function () {
                nickname.popover('hide');
            });

            // change nickname
            saveBtn.click(function () {
                saveBtn.attr('disabled', true);
                if ($.trim(nickname.val()).length === 0) {
                    saveBtn.removeAttr('disabled');
                    nickname.popover('show');
                    $('.popover').addClass('popover-danger popover-danger-top');
                    return false;
                }

                $.ajax({
                    url: '/profile',
                    method: 'put',
                    data: {
                        nickname: $.trim(nickname.val())
                    },
                    success: function (data) {
                        if (data === 'success') {
                            bootbox.alert({
                                title: '信息提示',
                                message: '昵称修改成功',
                                backdrop: true
                            });
                            setTimeout('location.reload();', 1000);
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
<!-- navigator -->
<div class="menu bg-light shadow">
    <div class="container" style="padding: 0;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 16px">
            <a class="navbar-brand brand" href="/">BBS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">查询</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">热议</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            更多
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="https://github.com/Mahay316/Python-Assignment/issues/new"
                               target="_blank">反馈</a>
                            <a class="dropdown-item" href="https://github.com/Mahay316/Python-Assignment"
                               target="_blank">访问Github</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">关于</a>
                        </div>
                    </li>
                </ul>

                <button class="btn btn-success mr-3" onclick="location.href='/editor';">发布留言</button>
                <div id="loginCenter">
                    <a href="#"><img class="rounded-circle avatar" src="/static/img/{{user.avatar}}"/></a>
                    <div class="userControl" style="display: none">
                        <a class="dropdown-item" href="/profile"
                           target="_blank">个人中心</a>
                        <a class="dropdown-item" href="https://github.com/Mahay316/Python-Assignment"
                           target="_blank">我的留言</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:doLogout();">注销</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="profileTab" data-toggle="pill" href="#profilePanel" role="tab">个人信息</a>
            <a class="nav-link" id="passwordTab" data-toggle="pill" href="#passwordPanel" role="tab">修改密码</a>
            <a class="nav-link" id="emailTab" data-toggle="pill" href="#emailPanel" role="tab">安全邮箱</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="profilePanel" role="tabpanel">
                <div class="container info-box">
                    <div class="row">
                        <div class="col-3" style="text-align: center">
                            <div class="col-12">
                                <img class="rounded-circle avatar" src="/static/img/{{user.avatar}}"/>
                            </div>
                            <a class="col-12" href="#">修改头像</a>
                        </div>
                        <div class="col-8">
                            <form>
                                <div class="form-group row">
                                    <label for="infoNickname" class="col-2 col-form-label">用户昵称</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="infoNickname"
                                               value="{{user.nickname}}">
                                    </div>
                                    <button class="btn btn-primary col-2" id="saveNickname">保存</button>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">用&nbsp;&nbsp;户&nbsp;&nbsp;名</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext"
                                               value="{{user.username}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">注册时间</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext"
                                               value="{{user.create_time}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">发表留言</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext"
                                               value="{{msg_count}}篇">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">发表评论</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext"
                                               value="{{comment_count}}条">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="passwordPanel" role="tabpanel">
                <div class="info-box">
                    <div class="col-8" style="margin: auto;">
                        <form>
                            <div class="form-group">
                                <label for="originalPassword">原密码</label>
                                <input type="password" class="form-control" id="originalPassword" placeholder="请输入原密码">
                            </div>
                            <div class="form-group">
                                <label for="newPassword">新密码</label>
                                <input type="password" class="form-control" id="newPassword" placeholder="请输入新密码">
                            </div>
                            <div class="form-group">
                                <label for="verifyPassword">确认密码</label>
                                <input type="password" class="form-control" id="verifyPassword"
                                       placeholder="再输入一遍新密码以确认">
                            </div>
                            <button id="changeBtn" class="btn btn-primary col-12 change-btn">修改密码</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="emailPanel" role="tabpanel">
                <div class="info-box">
                    <div class="col-8" style="margin: auto;">
                        <form>
                            <div class="form-group row">
                                <label for="infoNickname" class="col-2 col-form-label">邮箱地址</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="emailAddress"
                                           placeholder="请输入邮箱地址"
                                           {% if user.email %}value="{{user.email}}" disabled="true"{% endif %}>
                                </div>
                                <button class="btn btn-primary col-2" id="sendCode"
                                        {% if user.email %}hidden{% endif %}>验证邮箱</button>
                                <button class="btn btn-primary col-2" id="changeEmail">修改邮箱</button>
                            </div>
                            <div class="form-group row">
                                <label for="infoNickname" class="col-2 col-form-label">验证码</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="emailCode"
                                           placeholder="请输入收到的验证码">
                                </div>
                            </div>
                            <button id="emailBtn" class="btn btn-primary col-12 change-btn">绑定安全邮箱</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<footer class="footer text-muted">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-1"><a href="https://github.com/Mahay316/Python-Assignment" target="_blank">Github</a></div>
            <div class="col-1"><a href="#">About</a></div>
            <div class="col-1"><a href="#">Documentation</a></div>
        </div>
        <p>Bulletin Board System designed by Mahay for Python assignment.</p>
        <p>A web application based on Flask.</p>
    </div>
</footer>
</body>
</html>