<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/favicon.png" rel="SHORTCUT ICON">
    <title>个人中心</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

    <!-- Bootstrap JQuery依赖 -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>

    <!-- MD5依赖 -->
    <script src="/static/js/md5.js"></script>

    <link rel="stylesheet" href="/static/css/navigator.css"/>
    <link rel="stylesheet" href="/static/css/popovers.css"/>
    <script src="/static/js/userAuth.js"></script>
    <script src="/static/js/accessory.js"></script>
    <style>
        .info-box {
            margin-top: 20px;
            margin-bottom: 15px;
            padding: 15px;
            border: 2px solid rgba(221, 221, 221, 0.7);
            background-color: #f8f9fa;
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.12);
        }

        .info-box .avatar {
            width: 128px;
            height: 128px;
            border: 1px solid #dedede;
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.12);
            margin-bottom: 10px;
        }

        .change-btn {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            /*----- change nickname -----*/
            const saveBtn = $('#saveNickname');
            const nickname = $('#infoNickname');

            // initialize popover
            nickname.popover({
                content: '昵称不能为空',
                placement: 'top',
                trigger: 'manual',
            });
            nickname.focus(function () {
                nickname.popover('hide');
            });

            // change nickname
            saveBtn.click(function () {
                saveBtn.attr('disabled', true);
                if ($.trim(nickname.val()).length === 0) {
                    saveBtn.removeAttr('disabled');
                    nickname.popover('show');
                    $('.popover').addClass('popover-danger popover-danger-top');
                    return false;
                }

                $.ajax({
                    url: '/profile',
                    method: 'put',
                    data: {
                        action: 'nickname',
                        nickname: $.trim(nickname.val())
                    },
                    success: function (data) {
                        if (data === 'success') {
                            bootbox.alert({
                                title: '信息提示',
                                message: '昵称修改成功',
                                backdrop: true
                            });
                            setTimeout('location.reload();', 1000);
                        } else if (data === 'permission-denied') {
                            bootbox.alert({title: '错误提示', message: '请先登录'});
                        } else if (data === 'invalid') {
                            bootbox.alert({title: '错误提示', message: '参数错误'});
                        } else {
                            bootbox.alert({title: '错误提示', message: '修改昵称失败'});
                        }
                    }
                });
            });

            /*----- change password -----*/
            const oldPassword = $('#oldPassword');
            const newPassword = $('#newPassword');
            const verifyPassword = $('#verifyPassword');
            const changeBtn = $('#changeBtn');

            // initialize popover
            oldPassword.popover({
                content: '原密码不能为空',
                placement: 'top',
                trigger: 'manual',
            });
            oldPassword.focus(function () {
                oldPassword.popover('hide');
            });

            newPassword.popover({
                content: '新密码不能为空',
                placement: 'top',
                trigger: 'manual',
            });
            newPassword.focus(function () {
                newPassword.popover('hide');
            });

            verifyPassword.popover({
                content: '两次输入的密码不相同',
                placement: 'top',
                trigger: 'manual',
            });
            verifyPassword.focus(function () {
                verifyPassword.popover('hide');
            });

            changeBtn.click(function () {
                // prevent user's clicking multiple times
                changeBtn.attr('disabled', true);

                // data verification
                let oldPass = $.trim(oldPassword.val());
                if (oldPass.length === 0) {
                    changeBtn.removeAttr('disabled');
                    oldPassword.popover('show');
                    $('.popover').addClass('popover-danger popover-danger-top');
                    return false;
                }

                let newPass = $.trim(newPassword.val());
                if (newPass.length === 0) {
                    changeBtn.removeAttr('disabled');
                    newPassword.popover('show');
                    $('.popover').addClass('popover-danger popover-danger-top');
                    return false;
                }

                let verPass = $.trim(verifyPassword.val());
                // two passwords don't match
                if (newPass !== verPass) {
                    changeBtn.removeAttr('disabled');
                    verifyPassword.popover('show');
                    $('.popover').addClass('popover-danger popover-danger-top');
                    return false;
                }

                $.ajax({
                    url: '/profile',
                    method: 'put',
                    data: {
                        action: 'password',
                        old_password: hex_md5(oldPass),
                        new_password: hex_md5(newPass)
                    },
                    success: function (data) {
                        changeBtn.removeAttr('disabled');
                        if (data === 'success') {
                            bootbox.alert({title: '信息提示', message: '更改密码成功', backdrop: true});
                            setTimeout('location.reload();', 500);
                        } else if (data === 'wrong') {
                            bootbox.alert({title: '错误提示', message: '原密码错误'});
                        } else if (data === 'permission-denied') {
                            bootbox.alert({title: '错误提示', message: '请先登录'});
                        } else if (data === 'invalid') {
                            bootbox.alert({title: '错误提示', message: '参数错误'});
                        }
                    }
                });
            });

            // upload avatar image
            $('#avatar').change(function () {
                let data = new FormData();
                data.append('avatar', $(this)[0].files[0]);

                let filename = $(this)[0].files[0].name;
                // check type of the uploaded file
                if (!(filename.endsWith('.png') || filename.endsWith('.jpg')
                    || filename.endsWith('.jpeg') || filename.endsWith('.gif')))
                    return false;

                $.ajax({
                    url: '/profile/avatar',
                    data: data,
                    method: 'post',
                    processData: false,
                    contentType: false,
                    cache: false,
                    mimeType: 'multipart/form-data',
                    success: function (data) {
                        console.log(data);
                        if (data === 'success') {
                            bootbox.alert({title: '消息提示', message: '更换头像成功', backdrop: true});
                            setTimeout('location.reload();', 500);
                        } else if (data === 'permission-denied') {
                            bootbox.alert({title: '错误提示', message: '请先登录'});
                        } else if (data === 'invalid') {
                            bootbox.alert({title: '错误提示', message: '非法参数'});
                        } else {
                            bootbox.alert({title: '错误提示', message: '上传头像失败'});
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
{% include 'navigator.html' %}

<!-- invisible file form -->
<form style="display: none;">
    <input type="file" name="avatar" id="avatar" accept=".png,.jpg,.jpeg,.gif"/>
</form>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="profileTab" data-toggle="pill" href="#profilePanel" role="tab">个人信息</a>
            <a class="nav-link" id="passwordTab" data-toggle="pill" href="#passwordPanel" role="tab">修改密码</a>
            <a class="nav-link" id="emailTab" data-toggle="pill" href="#emailPanel" role="tab">安全邮箱</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="profilePanel" role="tabpanel">
                <div class="container info-box">
                    <div class="row">
                        <div class="col-3" style="text-align: center">
                            <div class="col-12">
                                <img class="rounded-circle avatar" src="/static/img/{{user.avatar}}"/>
                            </div>
                            <a class="col-12" id="changeAvatar" href="javascript: $('#avatar').click();">修改头像</a>
                        </div>
                        <div class="col-8">
                            <form>
                                <div class="form-group row">
                                    <label for="infoNickname" class="col-2 col-form-label">用户昵称</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="infoNickname"
                                               value="{{user.nickname}}">
                                    </div>
                                    <button class="btn btn-primary col-2" id="saveNickname">保存</button>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">用&nbsp;&nbsp;户&nbsp;&nbsp;名</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext"
                                               value="{{user.username}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">注册时间</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext"
                                               value="{{user.create_time}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">发表留言</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext"
                                               value="{{msg_count}}篇">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">发表评论</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext"
                                               value="{{comment_count}}条">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="passwordPanel" role="tabpanel">
                <div class="info-box">
                    <div class="col-8" style="margin: auto;">
                        <form>
                            <div class="form-group">
                                <label for="oldPassword">原密码</label>
                                <input type="password" class="form-control" id="oldPassword" placeholder="请输入原密码">
                            </div>
                            <div class="form-group">
                                <label for="newPassword">新密码</label>
                                <input type="password" class="form-control" id="newPassword" placeholder="请输入新密码">
                            </div>
                            <div class="form-group">
                                <label for="verifyPassword">确认密码</label>
                                <input type="password" class="form-control" id="verifyPassword"
                                       placeholder="再输入一遍新密码以确认">
                            </div>
                            <button id="changeBtn" class="btn btn-primary col-12 change-btn">修改密码</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="emailPanel" role="tabpanel">
                <div class="info-box">
                    <div class="col-8" style="margin: auto;">
                        <form>
                            <div class="form-group row">
                                <label for="infoNickname" class="col-2 col-form-label">邮箱地址</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="emailAddress"
                                           placeholder="请输入邮箱地址"
                                           {% if user.email %}value="{{user.email}}" disabled="true" {% endif %}>
                                </div>
                                <button class="btn btn-primary col-2" id="sendCode"
                                        {% if user.email %}hidden{% endif %}>验证邮箱
                                </button>
                                <button class="btn btn-primary col-2" id="changeEmail">修改邮箱</button>
                            </div>
                            <div class="form-group row">
                                <label for="infoNickname" class="col-2 col-form-label">验证码</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="emailCode"
                                           placeholder="请输入收到的验证码">
                                </div>
                            </div>
                            <button id="emailBtn" class="btn btn-primary col-12 change-btn">绑定安全邮箱</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<footer class="footer text-muted">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-1"><a href="https://github.com/Mahay316/Python-Assignment" target="_blank">Github</a></div>
            <div class="col-1"><a href="#">About</a></div>
            <div class="col-1"><a href="#">Documentation</a></div>
        </div>
        <p>Bulletin Board System designed by Mahay for Python assignment.</p>
        <p>A web application based on Flask.</p>
    </div>
</footer>
</body>
</html>