<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/favicon.png" rel="SHORTCUT ICON">
    <title>留言管理</title>

    <!-- Bootstrap JQuery依赖 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>

    <link rel="stylesheet" href="/static/css/navigator.css"/>
    <link rel="stylesheet" href="/static/css/message-list.css"/>
    <script src="/static/js/userAuth.js"></script>
    <script src="/static/js/accessory.js"></script>
    <script type="text/javascript">
        function toggleMessage(msg_id, hide) {
            $.ajax({
                url: '/message/toggle',
                method: 'post',
                data: {
                    toggle: hide ? 1 : 0,
                    msg_id: msg_id
                },
                success: function (data) {
                    if (data === 'invalid') {
                        bootbox.alert({title: '错误提示', message: '非法参数', backdrop: true});
                    } else if (data === 'permission-denied') {
                        bootbox.alert({title: '错误提示', message: '未登录', backdrop: true});
                    } else if (data === 'fail') {
                        bootbox.alert({title: '错误提示', message: '隐藏失败', backdrop: true});
                    } else {
                        // success
                        location.reload();
                    }
                }
            });
        }
    </script>
</head>
<body>
{% include 'navigator.html' %}

<!-- content -->
<div class="container">
    <div class="row">
        <div id='mainContent' class="row col-9" style="margin: 0;">
            <div class="col-12 section">
                {% for i in range(result | length) %}
                <div class="row msg-list" {% if i == 0 %}style="border-top-width: 0;"{% endif %}>
                    <div class="col-1" style="padding: 0;">
                        <img class="rounded-circle avatar" src="/static/img/{{result[i][2]}}"/>
                    </div>
                    <div class="col-11 detail">
                        <div class="title">
                            {% if result[i][0].hidden %}<a href="#" class="badge badge-danger">hidden</a>{% endif %}
                            {% if result[i][0].drafted %}<a href="#" class="badge badge-warning">drafted</a>{% endif %}
                            <a class="headline" href="/message/detail/{{result[i][0].message_id}}">{{result[i][0].headline}}</a>
                        </div>
                        <div class="info">
                            日期: {{result[i][0].create_time}}&nbsp;&nbsp;&nbsp;
                            阅读数: {{result[i][0].read_count}}&nbsp;&nbsp;&nbsp;
                            回复数: {{result[i][0].reply_count}}&nbsp;&nbsp;&nbsp;
                            {% if result[i][0].hidden %}
                            <a href="javascript: toggleMessage({{result[i][0].message_id}}, false)" class="info">显示</a>
                            {% else %}
                            <a href="javascript: toggleMessage({{result[i][0].message_id}}, true)" class="info">隐藏</a>
                            {% endif %}
                            &nbsp;&nbsp;&nbsp;<a href="/editor?msg_id={{result[i][0].message_id}}" class="info">修改</a>
                        </div>
                        <div class="intro">{{get_summary(result[i][0].content, 100)}}...</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- pagination -->
            <div class="d-flex justify-content-center col-12 section align-content-center">
                <nav class="page-num">
                    <ul class="pagination" style="margin: 0;">
                        <li class="page-item {% if curr_page <= 0 %}disabled{% endif %}">
                            <a class="page-link" href="/profile/message/list/{{curr_page - 1}}"
                               aria-label="Previous">
                                <span>&laquo;</span>
                            </a>
                        </li>

                        <!-- 超出12页将隐藏中间页码 -->
                        {% if page_count > 12 %}
                        {% for i in range(6) %}
                        <li class="page-item {% if curr_page == i %}disabled{% endif %}">
                            <a class="page-link" href="/profile/message/list/{{i}}">{{i + 1}}</a>
                        </li>
                        {% endfor %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                        {% if curr_page > 6 and curr_page <= page_count - 6 %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">{{curr_page}}</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                        {% endif %}
                        {% for i in range(page_count - 6, page_count) %}
                        <li class="page-item {% if curr_page == i %}disabled{% endif %}">
                            <a class="page-link" href="/profile/message/list/{{i}}">{{i + 1}}</a>
                        </li>
                        {% endfor %}

                        {% else %}

                        {% for i in range(page_count) %}
                        <li class="page-item {% if curr_page == i %}disabled{% endif %}">
                            <a class="page-link"
                               href="/profile/message/list/{{i}}">{{i + 1}}</a>
                        </li>
                        {% endfor %}
                        {% endif %}

                        <li class="page-item {% if curr_page >= page_count - 1 %}disabled{% endif %}">
                            <a class="page-link" href="/profile/message/list/{{curr_page + 1}}" aria-label="Next">
                                <span>&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-3" style="padding-left: 15px;">
            <div id='sidebar' class="col-12 list-group" id="sidebar" style="padding: 0; margin-top: 15px;">
                <span href="#" class="list-group-item list-group-item-action active text-center">
                    留言统计
                </span>

                <span class="list-group-item list-group-item-action text-center">
                    共发表留言: {{statistics[0]}}
                </span>
                <span class="list-group-item list-group-item-action text-center">
                    隐藏留言: {{statistics[1]}}
                </span>
                <span class="list-group-item list-group-item-action text-center">
                    留言草稿: {{statistics[2]}}
                </span>

                <a href="#" class="list-group-item list-group-item-action active text-center"
                   onclick="scrollToTop()">
                    <svg class="bi bi-arrow-up-left-circle-fill text-light" width="1em" height="1em"
                         viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                         style="margin-bottom: 3px; margin-left: -3px;">
                        <path fill-rule="evenodd"
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM9.5 5h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 1 0V6.707l4.146 4.147a.5.5 0 0 0 .708-.708L6.707 6H9.5a.5.5 0 0 0 0-1z"/>
                    </svg>
                    回到顶部
                </a>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>
</html>