<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/favicon.png" rel="SHORTCUT ICON">
    <title>BBS注册</title>

    <!-- Bootstrap JQuery依赖 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>

    <!-- MD5依赖 -->
    <script src="/static/js/md5.js"></script>

    <link rel="stylesheet" href="/static/css/navigator.css"/>
    <link rel="stylesheet" href="/static/css/popovers.css"/>
    <script src="/static/js/userAuth.js"></script>
    <style>
        .title-line {
            border-bottom: 1px solid #dddddd;
            height: 28px;
            margin: 25px 100px;
            text-align: center;
        }

        .title-line .text {
            padding: 0 10px;
            background-color: #ffffff;
            line-height: 56px;
            font-size: 38px;
        }

        .register {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            // render by Jinja2
            const from_url = '{{from_url}}';
            const regUsername = $('#regUsername');
            const regNickname = $('#regNickname');
            const regPassword = $('#regPassword');
            const verifyPassword = $('#verifyPassword');

            // initialize register popover
            regUsername.focus(function () {
                regUsername.popover('hide');
            });

            regNickname.popover({
                content: '昵称不能为空',
                placement: 'right',
                trigger: 'manual',
            });
            regNickname.focus(function () {
                regNickname.popover('hide');
            });

            regPassword.popover({
                content: '密码不能为空',
                placement: 'right',
                trigger: 'manual',
            });
            regPassword.focus(function () {
                regPassword.popover('hide');
            });

            verifyPassword.popover({
                content: '两次输入的密码不相同',
                placement: 'right',
                trigger: 'manual',
            });
            verifyPassword.focus(function () {
                verifyPassword.popover('hide');
            });

            const registerBtn = $('#registerBtn');

            registerBtn.click(function () {
                // prevent user's clicking multiple times
                registerBtn.attr('disabled', true);

                // data verification
                let username = $.trim(regUsername.val());
                if (username.length === 0) {
                    registerBtn.removeAttr('disabled');
                    regUsername.popover('dispose').popover({
                        content: '用户名不能为空',
                        placement: 'right',
                        trigger: 'manual'
                    });
                    regUsername.popover('show');
                    $('.popover').addClass('popover-danger popover-danger-right');
                    return false;
                }

                let nickname = $.trim(regNickname.val());
                if (nickname.length === 0) {
                    registerBtn.removeAttr('disabled');
                    regNickname.popover('show');
                    $('.popover').addClass('popover-danger popover-danger-right');
                    return false;
                }

                let password = $.trim(regPassword.val());
                if (password.length === 0) {
                    registerBtn.removeAttr('disabled');
                    regPassword.popover('show');
                    $('.popover').addClass('popover-danger popover-danger-right');
                    return false;
                }

                let verPassword = $.trim(verifyPassword.val());
                // two passwords don't match
                if (password !== verPassword) {
                    registerBtn.removeAttr('disabled');
                    verifyPassword.popover('show');
                    $('.popover').addClass('popover-danger popover-danger-right');
                    return false;
                }

                // encrypt password with MD5
                password = hex_md5(password);
                $.ajax({
                    url: '/register',
                    method: 'post',
                    data: {
                        'username': username,
                        'nickname': nickname,
                        'password': password
                    },
                    success: function (data) {
                        if (data === 'success') {
                            bootbox.alert({
                                title: '信息提示',
                                message: '恭喜您，注册成功！<br/>将为您跳转...<br/>请输入刚注册信息登录',
                                backdrop: true,
                            });
                            // 提示成功后刷新页面
                            setTimeout(function () {
                                location.href = from_url;
                            }, 500);
                        } else if (data === 'duplicated') {
                            registerBtn.removeAttr('disabled');
                            regUsername.popover('dispose').popover({
                                content: '用户名重复',
                                placement: 'right',
                                trigger: 'manual'
                            });
                            regUsername.popover('show');
                            $('.popover').addClass('popover-danger popover-danger-right');
                        } else {
                            registerBtn.removeAttr('disabled');
                            bootbox.alert({
                                title: '错误提示',
                                message: '参数异常',
                                size: 'small'
                            });
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
{% include 'navigator.html' %}

<div class="title-line">
    <span class="text">注册</span>
</div>

<div class="container" style="width: 500px">
    <form>
        <div class="form-group">
            <label for="regUsername">用户名</label>
            <input type="text" class="form-control" id="regUsername" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="regNickname">昵称</label>
            <input type="text" class="form-control" id="regNickname" placeholder="请输入昵称">
        </div>
        <div class="form-group">
            <label for="regPassword">密码</label>
            <input type="password" class="form-control" id="regPassword" placeholder="请输入密码">
        </div>
        <div class="form-group">
            <label for="verifyPassword">确认密码</label>
            <input type="password" class="form-control" id="verifyPassword" placeholder="再输入一遍密码以确认">
        </div>
        <button id="registerBtn" class="btn btn-primary col-12 register">注册</button>
    </form>
</div>

{% include 'footer.html' %}
</body>
</html>